.experience {
    display: table;
    height: 100%; /* specify a height for the element */
    width: 100%; /* specify a width for the element */
    padding: 20px;
}

.experience-inner {
    display: table-cell;
    vertical-align: middle;
}

.experience-title {
    display: block;
    text-align: left;
    align-content: end;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 5%;
}

.experience-content {
    display: block;
    text-align: left;
}

.experience-content .col-lg-6 {
    margin: 40px 0;
    display: inline-block;
    vertical-align: top;
}

.experience-content p {
    margin: 0;
    padding: 0;
    font-size: 17px;
}