h2 {
    font-size: 32px;
}

h1 {
    font-size: 72px;
    font-weight: bold;
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.greeting .container-fluid {
    animation: bounceInRight;
    animation-duration: 2s;
}

.resume {
    margin-top: 5%;
    animation: swing;
    animation-delay: 2s;
    animation-duration: 2s;
}

.resume button {
    background-color: #008a8a;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.languages {
    height: 98vh;
    margin-top: 5%;
}

.languages .container-fluid {
    height: 98vh;
    animation: fadeIn;
    animation-duration: 2s;
    overflow-y: hidden;
}

.languages .container-fluid .row {
    height: 25vh;
    display: grid;
    position: relative;
    place-items: center;
}

.languages .container-fluid .row img {
    transform: scale(1);
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeIn;
    animation-duration: 2s;
}

.technologies {
    height: 98vh;
    margin-top: 5%;
}

.technologies .container-fluid {
    height: 98vh;
    animation: fadeIn;
    animation-duration: 2s;
    overflow-y: hidden;
}

.technologies .container-fluid .row {
    height: 25vh;
    display: grid;
    position: relative;
    place-items: center;
}

.technologies .container-fluid .row img {
    transform: scale(0.6);
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeIn;
    animation-duration: 2s;
}